* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}
.dark-theme{
    --primary-color: #37474f; 
    --secondary-color: #fff;
}
.container {
    width: 100%;
    min-height: 100vh;
    background: var(--primary-color);
    padding: 10px;
}

#icon {
    width: 30px;
    cursor: pointer;
    margin-left: 450px;
}

.todo-list {
    width: 100%;
    max-width: 540px;
    background: var(--primary-color);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.todo-list h2 {
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-list h2 img {
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #C499F3; /* Lighter background color for tasks */
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: var(--secondary-color); 
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #F2AFEF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: var(--secondary-color); 
}

ul li::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(imgs/uncheck.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(imgs/check.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #555;
}

